{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
      <div class="card darken-1">
        <div class="card-content white-text">
        {% if user.is_authenticated %}
        <a href="{% url 'post_edit' pk=post.pk %}" class="btn-floating btn-large yellow">
           <i class="large material-icons">mode_edit</i>
        </a>
        <a href="{% url 'post_remove' pk=post.pk%}" class="btn-floating btn-large red">
           <i class="large material-icons">delete</i>
        </a>

        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>

        <div class="post_footer">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% else %}
            <a class="waves-effect waves-light btn" href="{% url 'post_publish' pk=post.pk %}"> Publish </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<hr>
<a class="btn waves-effect waves-light green" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
{% for comment in post.comments.all %}
    {% if user.is_authenticated or comment.approved_comment %}
    <div class="comment">
        <div class="date">
            {{ comment.created_date }}
            {% if not comment.approved_comment %}
                <a class="btn-floating btn-large red" href="{% url 'comment_remove' pk=comment.pk %}"><i class="large material-icons">clear</i></a>
                <a class="btn-floating btn-large green" href="{% url 'comment_approve' pk=comment.pk %}"><i class="large material-icons">check</i></a>
            {% endif %}
        </div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
    {% endif %}
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}

{% endblock %}
